/*universal selectors*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*style for body*/
body {
    background-color: lightgrey;
    padding: 30 px 60px;
    box-sizing: border-box;
    max-width: 1100px;
    display: block;
}

/*style for header*/
.header {
    padding: 20px;
    background-color:lightgrey;
    display: flex;
    justify-content: space-between;
    flex-wrap: flex;
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    z-index: 9999;
}

.header h1 {
    border-radius: 5px;
    display:inline-block;
    padding: 0px 5px 0px 25px;
}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    font-size: 20px;
}

.header nav ul li {
    display: inline;
}

/*Hero section*/

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/fractal_198265-1.jpeg");  
    background-position: center;
    position: relative;
    background-size: cover;
    }

.hero-text h2 {
    background-color: lightseagreen;
    padding: 5px;
    color: black;
    position: absolute;
    bottom: 20px;
    right: 140px;
}

.run-buddy-img {
    height: 300px;
    width: 600px;
}

.buddy-buses, .hugging-kitties, .palmer-office, .buddy-cabin {
    height: 400px;
    width: 300px;
}


.aboutMe, .portfolio, .contactMe {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 
}

.aboutMe h2, .portfolio h2, .contactMe h2 {
    border-right: 2px solid black;
    text-align: end;
    padding-right: 20px;
} 

.aboutMe-text, .contactInfo {
    padding: 20px;
}

.project-images {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}





