

/*universal selectors*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/*style for body*/
body {
    background-color: lightgrey;
    font-family: 'Courier New', Courier, monospace;
}
/*style for header and nav*/

header {
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header a {
    text-decoration: none;
    color: blue;
  }
  
  header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  header nav ul li a:hover {
    background:lightskyblue;
    color: black;
    border-radius: 5px;
    text-shadow: none;
  }
/*end style for header and nav*/

/*start style for hero*/
.hero {
    background-image: url("../images/fractal_198265-1.jpeg");
    height: 200px;
    margin-bottom: 25px; 
    position: relative;
    background-size: cover;
    display: flex;
    justify-content: center;
    background-position: 80%;
}

.hero-box {
    background-color: lightskyblue;
    padding: 15px;
    color: blue;
    height: 15px;
    margin: 1.5%;
    border-radius: 10px;
    box-sizing: content-box;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

  .hero-box h3 {
    font-size: 25px;
    margin: 0;

} /*------------*/

.about-me, .portfolio, .contact-me {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 
}

.about-me h2, .portfolio h2, .contact-me h2 {
    border-right: 2px solid black;
    text-align: end;
    padding-right: 20px;
} 

.subaru_banff-img {
    height: 300px;
    width: 400px;
    background-image: url(../images/subaru_banff.jpeg);
    background-size: cover;
    text-align: center;
    opacity: 0.85;
}

p {
    font-weight: bolder;
}

.run-buddy-img {
    height: 200px;
    width: 400px;
}

.buddy-buses, .hugging-kitties, .palmer-office, .buddy-cabin {
    height: 300px;
    width: 275px;
}

ul{
    list-style: none;
}

.contact-info li, .contactInfo li a {
    font-size: 15px;
    font-weight: bold;
}








/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  }
  








  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
  
    .step h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .step-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .step-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .step-text {
      flex: 100%;  
    }
  
    .trainer-bio h3, .trainer-bio h4 {
      display: block;
    }
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }
  }
  